<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="lib/bootstrap-3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/bootstrap-3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css"/>
  <title>Mes posts : v01</title>
</head>
          <body ng-app="appPost" ng-controller="postController" class="container">
              <table class="table table-striped table-hover">

                  <thead>
                    <p class="alert alert-danger" style="margin-top:50px">Liste des posts</p>

                    <th>
                        <a ng-click="triParTitre()">Titre du post</a>
                        <span class="hSpacer" ng-class="{ glyphicon: champTri == 'titre', 'glyphicon-chevron-up': champTri == 'titre' && !triDescendant, 'glyphicon-chevron-down': champTri == 'titre' && triDescendant}"></span>
                    </th>
                    <tr>
                    <th><input type="button" value="Réinitialiser le choix" class="btn btn-danger" ng-click="reinitPost()" style="float:right; margin-bottom:10px"/></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="post in posts | orderBy:champTri:triDescendant" class="clickable" ng-click="selectionPost(post)">
                      <td>{{post.titre}}</td>
                    </tr>
                  </tbody>
              </table>

            <div class="alert alert-secondary">La liste contient {{posts.length}} post(s). </div>

            <div id="postListe">
              <form name="formulaireAjout">
                  <div class="form-group">
                    <input type="text"  id="newPostTitre" class="form-control" placeholder="Titre" ng-model="post.titre"/><br>
                    <textarea type="text"  id="newPostDescription" class="form-control" placeholder="Description" ng-model="post.description" rows="5" ></textarea><br>
                    <!-- <div class="alert alert-secondary">
                        <pre>{{post | json}}</pre>
                    </div> -->

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                  Vérification
            </button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mon objet</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                        {{post | json}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" ng-click="ajouterPost()">Valider le post</button>
                  </div>
                </div>
              </div>
            </div>
  		              <input type="button" value="Ajouter" class="btn btn-success" ng-click="ajouterPost()" style="float:right; margin-bottom:10px"/><br>
                  </div>
  	          </form>
  	          <div ng-show="postSelectionne != null" class="list-group">
                <div class="list-group-item list-group-item-info">
                    <h1>{{postSelectionne.titre}}</h1>
                    <p>{{postSelectionne.description}}</p>
                      <button ng-click="supprimerPost(postSelectionne.uuid)" class="btn btn-warning">Supprimer</button>
                      <button ng-click="commenterPost()" class="btn btn-primary" style="float:right">Commenter</button>
                          <div ng-show="isVisible" style="margin-top:20px">
                            Auteur<input type="text" ng-model="com.auteur" class="form-control">
                            Avis<textarea type="text" ng-model="com.avis" class="form-control" rows="5"></textarea>
                            <button ng-click="ajoutCom()" class="btn btn-success" style="margin-top:20px">Valider mon avis</button>
                            <table class="table table-striped table-hover">
                              <thead><p class="alert alert-danger" style="margin-top:50px">Liste des avis</p></thead>
                              <tbody>
                                <tr ng-repeat="com in commentaires" class="clickable" ng-click="">
                                  <td>{{com.auteur}}</td>
                                  <td>{{com.avis}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
              </div>
            </div>
          </div>
  <!-- <script type="text/javascript" src="mce/tinymce/tinymce.min.js"></script> -->
  <script type="text/javascript" src="lib/angular.min.js"></script>
 <!--  <script type="text/javascript" src="mce/ui-tinymce.js"></script> -->
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controlers.js"></script>

</body>
</html>
